@model Employee

<h2>Edit Employee</h2>

 <form action="/Employee/EditEmployee" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Address)
        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Mobile)
        @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control" })
    </div>
     <div class="form-group">
        @Html.LabelFor(model => model.DOB)
        @Html.TextBoxFor(model => model.DOB, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
